@model webbooks.Models.Book

@{
    ViewBag.Title = "Apagar livro";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Apagar livro</h2>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="form-horizontal">
            <div class="col-lg-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.autor_fk.nome)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.autor_fk.nome)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.isbn)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.isbn)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.titulo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.titulo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.ano)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ano)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.sinopse)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.sinopse)
                    </dd>
                </dl>
            </div>
            <div class="col-lg-8">
                <br />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
                        <input type="submit" value="Apagar" class="btn btn-primary" />
                    </div>
                }
            </div>
            <!-- /.col-lg-12 -->
        </div>
        
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>